<h1>Editar Ocupación</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @occupation, class: "btn btn-small btn-success btn-xs" %> |
<%= link_to 'Atrás', occupations_path, class: "btn btn-small btn-danger btn-xs" %>
